// ============================= Changement des fonds d'écran =============================

// Changer le fond de l'écran de setup (choix du nom de l'équipe)
// Enregistrer l'image dans images/ (format 1024px x 768px ou double)
#container{
	.game.screen.playerNameSetup{
		// background-image: url(images/monImage.jpg);
	}
}

// Changer le fond de la homePage / inventaire : (possible de spécifier une phase spécifique en ajoutant son nom aux classes ciblées (remplacer espaces par _), ex. : .game.questHome.ma_phase)
// Enregistrer l'image dans images/ (format 1024px x 768px ou double)
#container{
	.game.questHome{
		// background-image: url(images/monImage.jpg);
	}
}
#container{
	.game.inventory{
		// background-image: url(images/monImage.jpg);
	}
}
// ============================= Déclaration des polices =============================

// Polices : déclarer les polices enregistrées dans fonts/ avant de les utiliser dans le reste de la css (font-family:'Nom-de-ma-police';)
// (Déclarer autant de polices que nécessaire)

// @font-face{
// 	font-family:'Nom-de-ma-police';
// 	src:url(fonts/maPolice.ttf);
// 	font-style:normal;
// 	font-weight:normal;
// }

// Ensuite... :
// ...on peut définir ici la police pour l'ensemble des textes...
#container .game{
	// font-family:'ma-police-generale';
}
// ...on peut définir la police des barres de titres (si nécessaire, désactiver le gras avec la 2e ligne)
#container .game.actionStage .layer.ui .dialogueContainer .contentWrapper .title .speaker {
	// font-family:'ma-police-de-titres';
	// font-weight:normal;
}
// ...on peut définir la police des titres en haut de la sidebar (volet droit apparaissant sur la carte)
#container .game.rallyMapLayout #sidebarRegion .poiDetails .title{
	// font-family:'ma-police-de-titres';
}

// ============================= Couleurs du thème =============================

// Liste de couleurs hsl (ne pas toucher, possible d'ajouter des couleurs)
$red:4, 90%, 58%;
$pink:340, 82%, 52%;
$purple:291, 64%, 42%;
$deepPurple:262, 52%, 47%;
$indigo:231, 48%, 48%;
$blue:207, 90%, 54%;
$lightBlue:199, 98%, 48%;
$cyan:187, 100%, 42%;
$teal:174, 100%, 29%;
$green:122, 39%, 49%;
$lightGreen:88, 50%, 53%;
$lime:66, 70%, 54%;
$yellow:54, 100%, 62%;
$amber:45, 100%, 51%;
$orange:36, 100%, 50%;
$deepOrange:14, 100%, 57%;
$brown:16, 25%, 38%;
$grey:0, 0%, 62%;
$blueGrey:200, 18%, 46%;

// Choisir ci-dessous une couleur Principale (pColor) et une couleur Action (aColor)
// Couleur Action = boutons Scan, Next, Start, Play et Timer
// Couleur Principale : barres de titre, fond titre sidebar, fonds inventaire et journal, sélection items QCM
// Des variations de ces couleurs (variation de la luminosité) sont générées et utilisées automatiquement dans toute la css
// Les couleurs standard du Launcher sont : $pColorHsl:$blueGrey;  //  $aColorHsl:$red;

$pColorHsl:$blueGrey;
$aColorHsl:$red;
// Exemple :
// $pColorHsl:$lime;
// $aColorHsl:$deepOrange;
//

// ==> Générateur auto de variations de couleurs

$pColor: hsl(nth($pColorHsl,1), nth($pColorHsl, 2), nth($pColorHsl, 3));
$pColorDark: hsl(nth($pColorHsl,1), nth($pColorHsl, 2), nth($pColorHsl, 3) - 20%);
$pColorLight: hsl(nth($pColorHsl,1), nth($pColorHsl, 2), nth($pColorHsl, 3) + 20%);
$pColorXtraLight: hsl(nth($blueGrey,1), nth($blueGrey, 2), nth($blueGrey, 3) + 40%);

$aColor: hsl(nth($aColorHsl,1), nth($aColorHsl, 2), nth($aColorHsl, 3));
$aColorDark: hsl(nth($aColorHsl,1), nth($aColorHsl, 2), nth($aColorHsl, 3) - 20%);
$aColorLight: hsl(nth($aColorHsl,1), nth($aColorHsl, 2), nth($aColorHsl, 3) + 20%);

// =====================================================================================================================

#container{
	.game {
		&.AutoPlay{
            #nextButton{display: none !important;}
            .layer {
                &.ui {
                    .dialogueContainer {display: none !important;}
                }
            }
        }
		input{
			border: 0.09em solid $pColor;
		}
		a.button {
			background: #8ab2b2;
		}
		&.screen {
			&.playerSetup, &.playerNameSetup {
				background-color: $pColorXtraLight;
				.title {
					background: $pColorDark;
				}
				.inputWrapper {
					// background-color:$pColor;
				}
			}
			&.endRecap {
				.wrapper{
					background: $pColor;
					.playerData {
						background-color: $pColorDark;
					}
				}
			}
		}

		&.rallyMapLayout,
		&.questHome {
			> .inventory{
				display: flex;
				position: absolute;
				.item.boutonRepondre {
					height: 150px;
					width: 150px;
					top: 308px;
					left: 604px;
					position: absolute;
				}
				.item.boutonARview {
					height: 150px;
					width: 150px;
					top: 308px;
					left: 259px;
					position: absolute;
				}
			}
			.scanButton {
				border:none;
				height:60px;
				width:60px;
				.scanIcon{
					display:none;
				}
			}
			> .exitButton {
				color: $pColorDark;
			}
			.inventoryButton, .journalButton {
				color: $pColorDark;
			}
			#statusRegion {
				display: none;
				color: $pColorDark;
				.userStatus{
					.section{
						&.playerName{}
						&.score{}
						&.time{}
					}
				}
			}
			#footer {
				display: none;
			}
		}
		&.questHome {
			#footer{
				// Pour enlever le footer (barre blanche) en bas de la homePage :
				// background:whitesmoke;
				// box-shadow:none;

				.inventoryButton{}
				.scanButton{}
				.journalButton{}
			}
		}

		&.inventory, &.journal {
			#header{
				background: $pColorDark;
			}
		}
		&.inventory{
			background-color:$pColor;
		}
		&.journal {
			.content {
				background-color:$pColorXtraLight;
				.block {
					.header {
						background-color:$pColor;
					}
					&.completed, &.failed{
						background-color: $pColorLight;
					}
				}
			}
		}

		&.actionStage {
			.backButton {
				color: $pColorDark;
			}
			#nextButton {
			}
			.layer {
				&.ui {
					.dialogueContainer {
						.contentWrapper {
							.title{
								background: $pColorDark;
								.speaker {}
								.timerContainer{
									.digitalTimer{
										background-color:$pColorDark;
										.digitalContainer{}
										.barContainer{
											.bar{
												background-color:$aColor;
											}
										}
									}
								}
							}
							.dialogueViewContainer {
								.scene {
									.answers {
										.answerItem {
											background-color: rgba(0,0,0,.1);
											&.hasImage {
												&.selected {
													background-color: $pColorLight;
													border: .3em solid $pColor;
												}
												&:active {
													background-color: $pColor;
												}
											}
											&.noImage {
												&.selected {
													background-color: $pColorLight;
												}
												&:active {
													background-color: $pColor;
												}
											}
										}
									}
									&.choice {
										.choiceList {
											.choice {
												&.selected {
													background: $pColorLight;
													.text{}
												}
												&:active {
													background: $pColor;
													.text{}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				&.overlay{
					.flexibleCombinationWrapper{
						.combinationContainer{
							background-size: contain;
							.combinationLock{
								background: linear-gradient(to bottom, #98b7b7 0%, #788a97 100%);
								.dialContainer{
									.dial{
										.dialList{
											color: #515151;
										}
									}
								}
							}
						}
					}
					.jigsawWrapper{
						background-color:$pColor;
						.timerContainer{
							.digitalTimer{
								background-color:$pColorDark;
								.barContainer{
									.bar{
										background-color:$aColor;
									}
								}
							}
						}
						.jigsawcontainer{}
					}
					.success, .partialSuccess, .failure{
						.textContent{
						}
						.popupBackground{
							// Pour que la popup recouvre tout l'écran :
							// height:100%;

							// Pour désactiver l'animation :
							// animation-name:none;
							img{
								// Pour désactiver la transparence des popups :
								// -webkit-mask: none;
	    						// mask: none;
							}
						}
						.popupContainer{
							// Pour désactiver l'animation :
							// animation-name:none;

							// Pour enlever le padding...
							// padding:0;
							.popupContent{
								// ...et le cadre blanc :
								// border:0;
								.notificationIcon{
									.material-icons{
									}
								}
								.textContent{
									.message, .score{
										// Pour désactiver le faux gras (suivant la police utilisée) :
										// font-weight:initial;
									}
								}
							}
						}
					}
					// Pour changer l'image des popups :
					.failure .popupBackground img{
						// content:url("images/popup-youLose.jpg");

						// Pour désactiver la transparence :
						// -webkit-mask:none;
						// mask:none;
					}
					.partialSuccess .popupBackground img{
						// content:url("images/popup-youWinYouLose.jpg");

						// Pour désactiver la transparence :
						// -webkit-mask:none;
						// mask:none;
					}
					.success .popupBackground img{
						// content:url("images/popup-youWin.jpg");

						// Pour désactiver la transparence :
						// -webkit-mask:none;
						// mask:none;
					}
				}
			}
		}

		// Pour les Tours (visites de musées)
		&.tour{
			&.rallyMapLayout{
				.pieceListButton{
					color: $pColorDark;
				}
			}
			&.piece {
				sidebar {
					background-color: $pColorDark;
					border-right: solid 0.05em $pColorLight;
					part-list {
						border-top: 0.05em solid $pColorLight;
						part {
							border-bottom: 0.05em solid $pColorLight;
							&.selected {
								background-color: $pColor;
							}
						}
					}
				}
			}
			&.pieceList {
				background-color:$pColor;
				#header{
					background: $pColorDark;
				}
			}
		}
	}
}
